# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
*.pyo

# Model files
*.joblib

# Database
*.db
*.sqlite
*.sqlite3